<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Branch App V.1</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <style>
        body {
            margin-bottom: 60px;
        }
    </style>
</head>
<body>
<!-- NAVIGATION BAR -->
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Branches App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/index}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/views/getAll}">Ver sucursales</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- BODY -->
<div class="container">

</div>

<!-- FOOTER -->
<footer th:fragment="footer" class="bg-white text-center text-black fixed-bottom">
    <div>
    <p>Created by Ernesto Arcos &copy; - 2024</p>
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    </div>

</footer>

</body>
</html>